<div class="card">
    <div class="card-heasder">
        {{title}}
    </div>
    <div class="card-body">
        <div class="col-md-2">Search Book</div>
        <div class="col-md-4">
            <input type="text"/>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Author</th>
                        <th>Library</th>
                        <th>Location</th>
                        <th>Book Now</th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
        </div>

    </div>
</div>